.inputForm {
	padding: 2rem;
	background-color: rgb(1, 1, 1, 0.2);
	border-radius: 0.5rem;
	margin-top: 1rem;
}

.inputForm button {
	float: right;
	background-color: rgb(1, 1, 1, 0.7);
	padding: 0.5rem;
	border-color: #112d4e;
	color: #dbe2ef;
	font-size: large;
	border-radius: 8px;
	box-shadow: none;
}

.loader {
	width: 300px;
	height: 100%;
}
