.heroHeading{
    font-size: 5rem;
    color: #f2fdfc;
}

.heroSection{
    background-color: #42C2FF;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud1{
    align-self: baseline;
}

.cloud2{
    align-self: flex-end;
}