.homeBg {
	overflow: hidden;
}

.triangle {
	width: 0;
	height: 0;
	border: 300px solid #effffd;
	border-top: 0;
	border-left: 0;
	border-right: 100vw solid #42c2ff;
	/* overflow: hidden; */
	position: relative;
}

.formSection {
	display: grid;
	background-color: transparent;
	position: absolute;
	left: 50vw;
	transform: translateX(-50%);
}

.flightGif {
	max-width: 500px;
	max-height: 500px;
	position: absolute;
	bottom: 10px;
}
