.homeBg {
	overflow: hidden;
	background-color: #effffd;
}

.triangle {
	width: 0;
	height: 0;
	border: 300px solid #effffd;
	border-top: 0;
	border-left: 0;
	border-right: 100vw solid #42c2ff;
	position: relative;
}

.formSection {
	background-color: transparent;
	position: relative;
	left: 50vw;
	transform: translate(-50%, -300px);
	display: inline-block;
	z-index: 5;
}

.flightGif {
	max-width: 500px;
	max-height: 500px;
	position: absolute;
	bottom: 10px;
}
